.DS_Store
assets/vr-art/*.mp4
assets/vr-art/*.mov
assets/*.mov

# Large original images kept locally for now.
assets/queen-chess.jpg
assets/student-works/chinese-dream.jpg
assets/student-works/dragon-future.jpg
assets/student-works/opera-soul.jpg
assets/student-works/string-song-dream.jpg
assets/student-works/sunflower-stars.jpg
assets/student-works/youth-dance.jpg
assets/student-works/zimageni.jpg
assets/xinjiang-landscape/kashgar-door.jpg
assets/freedom-people/chinese-american-life-alone.jpg
assets/freedom-people/chinese-girl-farm-thailand.jpg
assets/freedom-people/malaysian-couple-dream-china.jpg
assets/freedom-people/tibetan-monk-travels-world.jpg
assets/freedom-people/travel-world-with-daughter.jpg
assets/freedom-people/vietnamese-girl-dream-out-loud.jpg
assets/history-voice/queen-chess-wild.jpg
assets/student-works/dream-time.jpg
assets/student-works/star-river-dream.jpg
assets/work-freedom-100.jpg
assets/xinjiang-landscape/bayanbulak-grassland.jpg
assets/xinjiang-landscape/burqin-sunset.jpg
assets/xinjiang-landscape/duku-highway-tianshan.jpg
assets/xinjiang-landscape/kanas.jpg
assets/xinjiang-landscape/karamay-devil-city.jpg
assets/xinjiang-landscape/kashgar-old-city.jpg
assets/xinjiang-landscape/sayram-lake-2.jpg
assets/xinjiang-landscape/sayram-lake.jpg
assets/xinjiang-landscape/turpan-flaming-mountains.jpg
assets/xinjiang-landscape/yili-lavender.jpg
